<% prefix = payment_addition.new_record? ? "new_payment_additions" : "existing_payment_additions" %>

<div class="payment_addition">
  <% fields_for "group[#{prefix}][]", payment_addition do |p| %>
    <% field_set_tag do %>
      <%= p.select :payment_type, Opensteam::Payment::Types.active.collect(&:name) %>
      <%= p.text_field :amount, :size => 4 %>
      Fix Rate: <%= p.check_box :fix_value %>
      <%= link_to_function "remove", "$(this).up('.payment_addition').remove()" %>
    <% end %>
  <% end %>
</div>
