<% prefix = rate.new_record? ? "new_rates" : "existing_rates" %>
<% fields_for "group[#{prefix}][]", rate do |r| %>
<tr class="rate">

	<td style="width:200px;">
    <%= r.select :zone_id, Opensteam::System::Zone.for_select( :country_name, :id ), {}, :class => "shipping_rate_zone" %>
		<% javascript_tag do %>
			transform2ComboBox( $$('.shipping_rate_zone').last() ) ;
		<% end %>
  </td>
	<td>  
    <%= r.text_field :shipping_method, :class => "inputFields" %>
  </td>
  <td>
    <%= r.text_field :rate, :size => 3, :class => "inputFields" %>
  </td>
  <td>
    <%= link_to_function "<span>remove</span>", "$(this).up('.rate').remove()", :class => "green-button"  %>
  </td>
</tr>
<% end %>