<% for st in Opensteam::Sales::ShipmentBase::RegionShippingRate.all.collect(&:shipping_method ).uniq   %>
  <%= f.radio_button :shipping_type, st %>
  <%= label "order_shipping_type_#{st}", st %>
  <span id="shipping_type_rate_<%= st.underscore %>">
    <%= shipping_buttons.calculate_shipping_rate( :shipping_method => st, :country => country, :payment_type => payment_type ) %>
  </span>
  <br />
<% end %>
