<div id="dvSubNavCont_SALES" class="dvSubNavBlock" onmouseover="try{DD.navi.doShowParents('SALES');}catch(ex){/*nothing*/}" onmouseout="try{DD.navi.doHideParents('SALES');}catch(ex){/*nothing*/}">
  <div id="dvSubNavItemCont_SALES" class="dvSubNav_itemsContainer">       
		<% for ext in Opensteam::Extension.extensions_for_backend :sales %>
			<%= link_to ext.id.to_s.capitalize.humanize, { :controller => "admin/sales/#{ext.id}", :action => :index } %>
		<% end %>
    <%#= link_to "Orders", admin_sales_orders_path %>
    <%#= link_to "Invoices", admin_sales_invoices_path %>   
    <%#= link_to "Shipments", admin_sales_shipments_path %>	
  </div>
</div>