/* use transparent gifs for IE 6 instead of semi transparent pngs */
* html #user-wrapper .outter{background-image:url(/images/backend/header/user_bar_left.gif);}
* html #user-wrapper .inner{background-image:url(/images/backend/header/user_bar_bg.gif);}
* html #user-wrapper .middle{background-image:url(/images/backend/header/user_bar_right.gif);}

/*
* html .dvSubNavBlock,
* html .dvSubNavBlock a{height:1%;}
* /

/* fix headline */
* html #content-wrapper h1{height:1%;}
* html #content-wrapper h1 img{bottom:-7px;}