<table cellspacing="0" cellpadding="0" class="editor-form">
  <tr>
    <td class="label"><%= attributes.label :name %></td>
    <td class="content"><%= attributes.text_field :name, :class => "inputFields" %></td>
  </tr>
</table>

