<div class="rule">
  <% new = tax_rule.new_record? ? 'new' : 'existing' %>
  <% prefix =  "tax_group[#{new}_tax_rule_attributes][]" %>
  
  <% fields_for prefix, tax_rule do |tax_rule_form| %>
    <% field_set_tag do %>
      <p>
        TaxRule: 
        <%= tax_rule_form.select :tax_zone_id, @tax_zones.collect { |z| ["#{z.country} - #{z.rate}", z.id] } %>
        <%= link_to_function "remove", "$(this).up('.rule').remove()" %>
      </p>
    <% end %>
  <% end %>
</div>