
<div id="filter">
  <%= render :partial => "admin/filters/grid_filter_pagination", :locals => { :id => "properties_filter", :model => properties.class, :records => properties } %>
</div>
<div id="grid">
  <% grid_table_local do %>
    <thead>
      <tr>
        <th title="checked" class="first no-sort"><div>&nbsp;</div></th>
        <th title="id"><div>#</div></th>
        <th title="type"><div>Class</div></th>
        <th title="value"><div>Value</div></th>
        <th title="unit"><div>Unit</div></th>
        <th title="updated_at"><div>Updated At</div></th>
        <th title="editor_url"><div>Actions</div></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  <% end %>
</div>
