<div class="property">
  <% n = property.new_record? ? 'new' : 'existing' %>
  <% prefix = "#{n}_properties[]" %>

  <% f.fields_for prefix, property do |p| %>
    <table cellspacing="0" cellpadding="0" class="editor-form" style="width:auto;">
      <tr>
        <td class="label"><%=h property.class %></td>
        <td style="width:200px;" class="content"><%= p.text_field :value, :class => "inputFields" %></td>
        <td style="width:200px;" class="content"><%= p.select :unit, ['String', 'Integer' ] %>
          <% javascript_tag do %>
            transform2ComboBox( $$('#properties_tab tr td select').last(), { listWidth: 200 } ) ;
          <% end %>
        </td>
        <td>
          <%= link_to_function "<span>Delete</span>", "$(this).up('.property').remove(); return false;", :class => 'green-button' %>
        </td>
      </tr>
    </table>
  <% end %>
</div>

