<%% if ! @cart.items.empty?  %>
  <div id="cart_content">
    <%%= render :partial => "carts/cart_content" %>
  </div>
  <%%= button_to "checkout" , { :controller => '<%= file_name %>', :action => :start_checkout }, :confirm => "checkout?" %>
  <%%= button_to "empty cart" , { :controller => 'carts', :action => :destroy }, :method => :delete, :confirm => "empty cart?" %>
<%% end %>
