<h1> Account Info for '<%= @user.login %>' </h1>

<div>
  <div id="account_menu">
    <%= render :partial => "account_menu" %>
  </div>

  <div id="account_content">
    <%= render :partial => @partial %>
  </div>
  <div class="clearer"></div>

</div>


