
	<a href="#"><span>Quicksteam 01</span></a>
	<a href="#"><span>Quicksteam 02</span></a>
	<a href="#" id="drop_me" class="new-tab new-tab-over"><span class="text">Add Quicksteam</span><span class="text-over">Drop here...</span></a>

<%= drop_receiving_element :drop_me,
:hoverclass => 'new-tab-over' %>

