div.autocomplete {
  position:absolute;
  width:400px;
  background-color:white;
  border:1px solid #ccc;
  margin:0px;
  padding:0px;
  font-size:0.9em;
  text-align:left;
  max-height:200px;
  overflow:auto;
}
div.autocomplete ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete ul li.selected { 
  background-color: #EAF2FB;
}
div.autocomplete ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* alternative style */

div.autocomplete2 {
  position:absolute;
  width:400px;
  background-color:white;
  border:1px solid #ccc;
  margin:0px;
  padding:0px;
  font-size:0.9em;
  text-align:left;
  max-height:200px;
  overflow:auto;
}
div.autocomplete2 ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete2 ul li.selected { 
  background-color: #deffff;
}
div.autocomplete2 ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

/* new style version 0.4 */

div.autocomplete4 {
  position:absolute;
  width:500px;
  background-color:black;
  margin:0px;
  margin-left:5px;
  padding:0px;
  font-size:0.9em;
  text-align:left;
  max-height:200px;
  overflow:auto;
  color:#f4f4f4;
}
div.autocomplete4 ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
div.autocomplete4 ul li.selected { 
  background-color: #8bc9fe;
  color:black;
}
div.autocomplete4 ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

