/*
.clearer{clear:both;}
.inputFields{border:1px solid #b1bcbf;background-color:#f2f8c4; height:16px; text-align:center; padding-top:2px; }
.x-form-field-wrap {
  background: transparent url(../images/dropdown/elm_img_bg.gif) no-repeat scroll left top ;
  padding:0px 5px 1px 9px;
}
.x-form-text { background: transparent ! important ; border: 0px ! important ; }
.combo-trigger { background: transparent url(../images/dropdown/elm_img_push.gif) no-repeat scroll 0 0 ! important ; width:28px ! important ; border:0px ! important; }



.prev_page { padding-right: 3px ; }
.next_page { padding-left: 3px ; }

form.grid { float:left ; padding-left: 3px ; }
*/

.hideme { display:none; }

/* filter menu align middle*/
.dv-filter-list-paging { padding-top: 4px ;}
.dv-filter-menu-buttons { padding-top: 6px; }
.prev_page, .next_page { position: relative; top: 2px; }
#pageing_currentPage { position: relative; top: -2px; }

/* editor content: form elements alignment */
#editor-wrapper fieldset label { float: left; width:100px; text-decoration: underline; }

#editor-wrapper fieldset p { margin-top: 10px; }
.tab-content { padding-left: 20px; padding-bottom: 10px; }



/* editor forms */
table.editor-form td { padding: 5px ; }
	table.editor-form td.label { width: 100px; }
		table.editor-form td textarea {border:1px solid #b1bcbf;background-color:#f2f8c4;}
		table.editor-form td select.bool { width: 50px; }
table.order-editor { width:auto ! important;}
	table.order-editor td { padding: 2px ; line-height:19px; }
		table.order-editor td.label { width: 100px; }
		table.order-editor td.content { font-weight: bold;}
table.order-editor a { float:left;}
div.actions-left { float:left; }
div.actions-right { float:right; }
.x-tab-panel-body { background-color:#F7FAE0; }

.editor-actions div { padding: 3px; }
