form fieldset
{
	border: 1px solid #ccc;
	margin:0px 5px 0px 5px;
	padding:5px;
}

form legend
{
	font-size:1em;
	font-weight:bold;
	color:#6098DF;
	font-family:Arial, Helvetica, sans-serif;
}

label{
	margin: 0px 5px 10px 0px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:0.8em;
	text-align:right;
	width : 10em; 
	display : block;  
	float: left;

}

form br
{
	clear:both;
}

.combo, .combo2
{
	margin: 0px 5px 10px 0px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:0.9em;
	width : 10em; 
	display : block;
	text-align:left; 
	background: url('../images/bg_select.jpg') right;
	height:18px;
	cursor: pointer;
	border:1px solid #ccc;
	color:#999;
}

.combo2{
	background: url('../images/bg_select2.jpg') right;
}

.combo4
{
	margin: 0px 5px 10px 0px;
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:0.9em;
	width : 160px; 
	display : block;
	text-align:center; 
	background: url('../images/bg_select3.jpg') #fff top right no-repeat;
	height:24px;
	padding-top: 3px;
	/*padding: 3px 5px 0px 3px;*/
	cursor: pointer;
	border:0px;
	color:#999;
}

div.comboOptions {
  position:absolute;
  background-color:white;
  border:1px solid #ccc;
  margin:0px;
  padding:0px;
  font-size:0.8em;
  text-align:left;
  max-height:200px;
  overflow:auto;
}
div.comboOptions ul {
  list-style-type:none;
  margin:0px;
  padding:0px;
}
.lihover { 
  background-color: #EAF2FB;
}
div.comboOptions ul li {
  list-style-type:none;
  display:block;
  margin:0;
  padding:2px;
  cursor:pointer;
}

.paypal input{
	display:none;
}

#button{
	display:block;
	height:24px;
	width:128px;
}