h1, h2, h3, p {
	font-family:georgia,"times new roman",serif;
}
h1 {
	font-size: 1.8em;
}
p {
	font-size: 0.91em;
	color: #333333;
}
body {
	font-family:verdana,arial,helvetica,sans-serif;
	margin-top:0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.dvBody
{
	width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.dvHeader
{
	margin:0 5px 20px 0;
}
.dvHeader .logo {
	float: left;
}
.dvUserData {
	font-family:verdana,arial,helvetica,sans-serif;
	font-size: 0.82em;
	font-weight: normal;
	color: #ffffff;
	float: right;
	padding: 0; margin: 0;
	margin-right: 75px;
}
.dvUserData a {
	color: #ffffff;
	font-weight: bold;
}
.dvUserData .dvLeftBar {
	float: left;
	width: 27px;
	height: 27px;
	background: url(../images/frontend/userdataleftbar.png);
}
.dvUserData .dvRightBar {
	float: left;
	width: 27px;
	height: 27px;
	background: url(../images/frontend/userdatarightbar.png);
}
.dvUserData .dvMiddleBar {
	float: left;
	height: 27px;
	padding-top: 3px;
	background: url(../images/frontend/userdatabgbar.png) repeat-x;
}
.dvSearchBar
{
	border-top: 1px #cc4444 solid;
	background-color: #eeeeee;
	border-bottom: 1px #cc4444 solid;
	margin: 10px 10px 0 0;
	font-size: 0.82em;
	padding-top: 5px;
	height: 30px;
	width: 100%;
}
.dvSearchBar p {
	margin: 0;
}
.dvSearchBar .pLeft {
	float:left;
	padding: 4px 0 0 10px;
}
.dvSearchBar .pRight {
	float:right;
	padding: 0 10px 0 0;
}
.dvMain
{
}
.dvLeft
{
	float: left;
	width: 200px;
}
.dvContent
{
	float: left;
	width: 600px;
}
.dvRight
{
	float: left;
	width: 200px;
}
/* Box for left and right column */
.dvBox
{
	margin-bottom: 20px;
	font-family:verdana,arial,helvetica,sans-serif;
	color: #666666;
	width: 200px;
}
.dvBox a
{
	font-size: 0.82em;
	color: #cc4444;
	text-decoration: none;
}
.dvBox a:hover
{
	text-decoration: underline;
}
.dvBoxTop
{
	padding: 5px;
}
.dvBoxTop h3
{
	margin:0;
}
.dvBoxTop img
{
	vertical-align:middle;
}
.dvBoxContent
{
	padding: 0 5px 0 5px;
	font-size: 0.82em;
}
.dvBoxContent ul {
	padding-left: 20px;
}
.dvBoxBottom {
	padding: 10px 5px 0 5px;
}
.dvFooter
{
	border-top: 1px #cc4444 solid;
	padding: 5px 0 0 0;
	margin: 5px 0 0 0;
	font-size: 0.82em;
	text-align: center;
}
.clear
{
	clear: both;
}