<ul>
  <li><%= link_to_remote "General Info", :url => account_path, :method => :get %></li>
  <li><%= link_to_remote "Change Password", :url => edit_password_account_path, :method => :get %></li>
</ul>