<% grid_table_static do %>
  <thead>
    <tr>
      <th class="first no-menu no-sort not-in-context no-resize"><div>&nbsp;</div></th>
      <th><div>ID#</div></th>
      <th><div>Name</div></th>
      <th><div>Products</div></th>
      <th><div>Zones</div></th>
      <th><div>Created At</div></th>
      <th><div>Updated At</div></th>
      <th class="not-in-context no-menu"><div>&nbsp;</div></th>
      <th class="last not-in-context no-menu"><div>&nbsp;</div></th>
    </tr>
  </thead>
  <tbody id="orders_table_body">
    <%= render :partial => "admin/config/tax_groups/tax_group", :collection => tax_groups %>
  </tbody>
<% end %>