<% render_headline 'categories_icon', 'Product Classes', 'content-header/headline_icon.jpg' %>
<% render_header_buttons "New Product", :href => new_admin_catalog_product_path, :class => "add-button" %>

<div id="filter">
  <%= render :partial => "admin/filters/filter", :locals => { :id => "users_filter", :model => Product, :records => @orders } %>
</div>


<div id="grid-wrapper">
  <div id="grid">
    <% grid_table "the-table", admin_catalog_products_path( :format => :xml), Product.filtered_keys + [:editor_url] do %>
      <thead>
        <tr>
          <th class="first no-sort no-menu"><div>&nbsp;</div></th>
          <th title="id"><div>#</div></th>
          <th title="type"><div>Type</div></th>
          <th title="name"><div>Name</div></th>
          <th title="description"><div>DescriptionPrice</div></th>
          <th title="updated_at"><div>Storage</div></th>
          <th title="editor_url"><div>BackOrdered</div></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    <% end %>
  </div>
</div>