<thead>
	<tr>
		<th class="first no-sort no-menu"><div>&nbsp;</div></th>
		<th title="id"><div>#</div></th>
		<th title="type"><div>Class</div></th>
		<th title="value"><div>Value</div></th>
		<th title="unit"><div>Unit</div></th>
		<th title="updated_at"><div>Updated At</div></th>
		<th title="editor_url"><div>Actions</div></th>
	</tr>
</thead>
<tbody>
</tbody>
