<% render_headline 'categories_icon', 'Property Classes', 'content-header/headline_icon.jpg' %>
<% render_header_buttons %>

<div id="grid-wrapper">
  <div id="grid">
    <% grid_table_static do %>
      <thead>
        <tr>
          <th class="first no-menu no-sort not-in-context no-resize"><div>&nbsp;</div></th>
          <th><div>Name</div></th>
          <th><div>Entries</div></th>
          <th class="last"><div>Actions</div></th>
        </tr>
      </thead>
      <tbody>
        <% for property in @properties %>
          <tr>
            <td class="first"></td>
            <td><%= property.classify %></td>
            <td><%= property.classify.constantize.count %></td>
            <td class="last"><%= link_to "Show Entries", property %></td>
          </tr>
        <% end %>
      </tbody>
    <% end %>
  </div>
</div>