<% url = @order ? admin_sales_order_shipments_path( @order, :format => :xml ) : admin_sales_shipments_path( :format => :xml ) %>

<div id="grid">
<% grid_table "the-table", url, Opensteam::Models::Shipment.filtered_keys do %>
<thead>
	<tr>
		<th class="first no-menu no-sort not-in-context no-resize"><div>&nbsp;</div></th>
		<th title="id"><div>ID#</div></th>
		<th title="address"><div>Address</div></th>
		<th title="state"><div>State</div></th>
		<th title="rate"><div>Rate</div></th>
		<th title="comment"><div>Comment</div></th>
		<th title="created_at"><div>Created At</div></th>
		<th title="updated_at"><div>Updated At</div></th>
		<th title="editor_url" class="last not-in-context no-menu"><div>Actions</div></th>
	</tr>
</thead>
<% end %>
</div>