<div id="nav" style="">
  <%= link_to "Index", shop_index_path %> |
  <%= link_to "Cart", cart_path %> | 
  <%= link_to "Search", new_search_path %> |
  <%= render :partial => "users/user_bar" %>
</div>