<% render_headline 'categories_icon', "Inventories for #{@product.class} '#{@product.name}'", 'content-header/headline_icon.jpg' %>
<% render_header_buttons "Create Inventories", :href => new_admin_catalog_product_inventory_path( @product ) , :class => "add-button" %>


<div id="editor-wrapper">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<td width="200">
				<%= product_navigation( @product, :active => :inventories ) %>
			</td>
			<td width="20"><br /></td>
			<td width="100%">
				<div>
					<%= render :partial => "inventories", :object => @product.inventories %>
				</div>
			</td>
		</tr>
	</table>
</div>	

<%= debug( @product.inventories ) %>