<div id="footer_container">
  <div id="footer">
    <div class="outter">
      <div class="middle">
        <div class="inner"><a href="#user">top</a></div>
      </div>
    </div>
  </div>
  <div id="flashbox" style="display:none;">
    <%= render :partial => "admin/flashbox_content" %>
  </div>
</div>
