<script>
    var ogrid = new OpensteamGrid( '<%=  grid %>' , 'active') ;
</script>
<div style="position:absolute;top:0;left:0;display:none;" id="top_mark"><%= image_tag("arrow_down.png", :border => 0 ) %></div>
<div style="position:absolute;top:0;left:0;display:none;" id="bottom_mark"><%= image_tag("arrow_up.png", :border => 0 ) %></div>
