<% grid_table do %>
  <thead>
    <th class="first no-menu no-sort not-in-context no-resize"><div>&nbsp;</div></th>
    <th><div>ID#</div></th>
    <th><div>Mailer Class</div></th>
    <th><div>Mailer Method</div></th>
    <th><div>Active</div></th>
    <th><div>Messages Sent</div></th>
    <th><div>Created At</div></th>
    <th><div>Updated At</div></th>
    <th class="last not-in-context no-menu"><div>&nbsp;</div></th>
  </thead>
  <tbody id="orders_table_body">
    <%= render :partial => "admin/system/mailers/mailer", :collection => mailers %>
  </tbody>
<% end %>