<% render_headline 'categories_icon', 'Mailer Config', 'content-header/headline_icon.jpg' %>
<% render_header_buttons  %>

<div id="grid-wrapper">
  <div id="grid">
    <%= render :partial => "mailers", :locals => { :id => 'mailers_table' }, :object => @mailers %>
  </div>
</div>
