.x-form-text{background:transparent url(/images/dropdown/elm_img_left.gif) left top no-repeat;border:none;padding:4px 3px 4px 8px;line-height:13px;font-size:11px;}
.ext-strict .x-form-text{height:13px;}
.ext-gecko .x-form-text{padding:4px 3px 4px 8px;}
.ext-ie .x-form-text{padding:1px 3px 7px 8px;}
.ext-safari .x-form-text{padding:4px 3px 4px 8px;}
.x-form-field-wrap .x-form-arrow-trigger{background:transparent url(/images/dropdown/elm_img_push.gif) no-repeat left top;width:28px;height:21px;border:none;}
	.x-form-field-wrap .x-form-arrow-trigger-focus, .x-form-field-wrap .x-form-arrow-trigger-click, .x-form-field-wrap .x-form-arrow-trigger-over{background-position:top left;}
	
	.x-combo-list {border-color:#b4c91a;background-color:#f2f8c4;}
		.x-combo-list-inner{background-color:#f2f8c4;padding:2px 0;}
			.x-combo-list-item{border-color:#f2f8c4;margin:0 2px;line-height:13px;font-size:11px;padding:4px 2px 5px;}
				.x-combo-list .x-combo-selected{border:1px solid #c9d954 !important;background:#e5ef99 url(/images/dropdown/elm_img_list_bg.gif) left top repeat-x;}
		
