.x-menu{background-image:url(/images/backend/x-menu/x-menu-bg.gif);border-color:#b4c91a;}
	.x-menu-sep{background-color:#d8e09e;}
	.x-menu-item-active{background:#e5ef99 url(/images/backend/x-menu/item-over.gif) left top repeat-x;border-color:#c9d954;}
		.x-menu-item-active a.x-menu-item {color:#586400;}
	.x-menu-item-arrow{background-image:url(/images/backend/x-menu/menu-parent.gif);}