.x-tab-panel-header{border-width:0;background-color:#d8e668;padding-bottom:3px;z-index:57;}
	.x-tab-strip-wrap{background-color:#FFF;}
		ul.x-tab-strip-top{background:transparent none;border-bottom-color:#cbcfd2;}
			ul.x-tab-strip li{margin-left:0;}
				.x-tab-strip-top .x-tab-right{background:transparent url(/images/tabs/tabs-sprite.gif) no-repeat scroll 0pt -30px;}
					.x-tab-strip-top .x-tab-left {background:transparent url(/images/tabs/tabs-sprite.gif) no-repeat scroll right -210px;}
						.x-tab-strip-top .x-tab-strip-inner {background:transparent url(/images/tabs/tabs-sprite.gif) repeat-x scroll 0pt -120px;}
							.x-tab-strip span.x-tab-strip-text{color:#c5c7c8;}
			ul.x-tab-strip li.x-tab-strip-active{margin-bottom:-1px !important;}
				.x-tab-strip-top .x-tab-strip-active .x-tab-right{background-position:left 0;}
					.x-tab-strip-top .x-tab-strip-active .x-tab-left {background-position:right -180px;}
						.x-tab-strip-top .x-tab-strip-active .x-tab-strip-inner {background-position:0 -90px;}
							.x-tab-strip-active span.x-tab-strip-text {color:#586400;}
				.x-tab-strip-top .x-tab-strip-over .x-tab-right {background-position:left -60px;}
					.x-tab-strip-top .x-tab-strip-over .x-tab-left {background-position:right -240px;}
						.x-tab-strip-top .x-tab-strip-over .x-tab-strip-inner {background-position:0 -150px;}
							.x-tab-strip-over span.x-tab-strip-text {color:#687604;}

.x-tab-panel-bwrap{margin-top:0px;z-index:0;z-index:22;}
	.x-tab-panel-body{border-color:#cbcfd2;padding:8px 5px 5px;background:transparent none;}
					