<h1>Product List</h1>
<div id="product_list">
	<ul>
	<% for product in @products %>
		<li><b><%=h product.type %></b> <%=h product.name %><br /><%=truncate(product.description, :omission => "..", :length => 15) %><br />
			<%= link_to "details", show_product_path( product ) %></li>
	<% end %>
	</ul>
</div>
	
