<div id="index" style="padding:2px;">
  <b>Product - List</b><br /><br />
  <% for product in @products %>
  <div id="<%= cycle('odd','even') %>" style="padding:2px;">
    <b><%=h product.class %></b> &nbsp; <%=h product.name %> --
    <%= link_to 'details', show_opensteam_product_path( product.class.to_s.demodulize, product.id ) %>
  </div>
  <% end %>	<br />
  <br />
  <br /><br />
</div>
