<h1>Product List</h1>
<div id="product_list">
	<ul>
	<% for product in @products %>
		<li><b><%=h product.type %></b> <%=h product.name %> <%= link_to "details", show_product_path( product ) %><br />
			</li>
	<% end %>
	</ul>
</div>
	
