<% render_headline 'categories_icon', 'Users', 'content-header/headline_icon.jpg' %>
<% render_header_buttons "Add User", :href => new_admin_system_user_path %>


<div id="filter">
  <%= render :partial => "admin/filters/filter", :locals => { :id => "users_filter", :model => User, :records => @users } %>
</div>

<div id="grid-wrapper">
  <div id="grid">
    <% grid_table "the-table", admin_system_users_path( :format => :xml ), User.filtered_keys + [ :editor_url, :events ] do %>
      <thead>
        <tr>
          <th class="first no-menu no-sort not-in-context no-resize"><div>&nbsp;</div></th>
          <th title="id"><div>ID#</div></th>
          <th title="name"><div>Name</div></th>
          <th title="email"><div>Email</div></th>
          <th title="roles"><div>Roles</div></th>
          <th title="activated_at"><div>Activated At</div></th>
          <th title="deleted_at"><div>Deleted At</div></th>
          <th title="created_at"><div>Created At</div></th>
          <th title="updated_at"h><div>Updated At</div></th>
          <th title="state"><div>State</div></th>
          <th title="events" class="no-sort"><div>Events</div></th>
          <th class="last not-in-context no-menu"><div>&nbsp;</div></th>
        </tr>
      </thead>
    <% end %>
  </div>
</div>
