<div id="product_categories">
  
  <h2>Categories</h2>
  <%%= f.hidden_field :categories_ids %>
  <div id="product-category-tree"></div>
  
  <%%= render :partial => "/admin/_tree/tree", :locals => { 
    :model => "category", 
    :render_to => "category-tree", 
    :url => '/admin/catalog/categories/',
    :checkable => false,
    :expand_all => true } %>
                                                                      
  <script>
      var mytree = configureTree( { 
          url: '/admin/catalog/categories/',
          baseAttrs:{checked:false}, 
          renderTo:'product-category-tree',
          baseParams:{format:'json',product_class:'<%= class_name %>',product_id:<%%= @<%= file_name %>.id %> }
          }, <%%= @categories.to_json %>  ) ;

          mytree.on('checkchange', function( node, checked) {
              $('<%= file_name %>_categories_ids').value = mytree.getChecked('id').join(',') ;
          }) ;
      
          Ext.onReady( function() {
              mytree.render() ;
          }) ;
  </script>
  
</div>
