<% render_headline 'categories_icon', "New TaxZone", 'content-header/headline_icon.jpg' %>
<% render_header_buttons 'Save', :form_id => 'tax_zone_form', :class => 'save-button' %>

<%= error_messages_for :tax_zone %>

<div id="dvEditorTabContainer">
	<div id="general_tab" class="x-hide-display" title="Tax Zone">
		<% form_for :tax_zone, @tax_zone, :url => admin_config_tax_zones_path , :html => { :method => :post, :id => "tax_zone_form" } do |f| %>
		<%= render :partial => "attributes", :locals => { :f => f, :button => "update", :countries => @countries} %>
		<% end %>
	</div>
</div>
<div id="dvEditorTabFooter">
	<div id="dvEditorTabFooter-inner">
		<div id="dvEditorTabFooterLeft">&nbsp;</div>
		<div id="dvEditorTabFooterRight">&nbsp;</div><br clear="all" />
	</div>
</div>

<% javascript_tag do %>

build_tabs( 'dvEditorTabContainer', [
{ contentEl: 'general_tab', title: Ext.get('general_tab').dom.title, listeners: { activate: checkTab_setFooterButtons },
button: {
	left: 	{ title: "index", url: '<%= admin_config_tax_zones_path %>' },
	right: 	{ title: "save", clickEvent: "$('tax_zone_form').submit(); return false;" }
}
}
] ) ;
<% end %>